.container {
    opacity: 100%;
    font-family: poppins, sans-serif;
    width: 100%;
    display: flex;
    padding: 0.5rem;
    align-items: center;
    border-radius: 0.375rem;
    height: fit-content;
    font-size: 0.75rem;
    line-height: 1rem;
    background-color: rgb(var(--color-card));
    color: rgb(var(--color-card-skill));
    -webkit-box-shadow: var(--tw-shadow-6);
    -moz-box-shadow: var(--tw-shadow-6);
    box-shadow: var(--tw-shadow-6);

}
.container:hover {
    scale: 105%;
    transition: 200ms;
    -webkit-box-shadow: var(--tw-shadow-7);
    -moz-box-shadow: var(--tw-shadow-7);
    box-shadow: var(--tw-shadow-7);
}
.container:active {
    scale:90%;
}

