ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.btn_modal {
    color: rgb(var(--colorfg));
}
li {
    display: flex;
    padding: 10px 8px;
    color: var(--tw-color-fg-modal);
}
.hiding_text {
    position: relative;
    cursor: pointer;
    line-height: 1;
}
.hiding_text:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--tw-color-theme);
    content: "";
    transition: width 0.3s ease-out;
}
.hiding_text:hover:after,
.hiding_text:focus:after {
    width: 100%;
}



