.contentNew {
    z-index: 1;
    margin-left: 1rem;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 20px;
}
ul {
    list-style-type: none;
}
li {
    display: flex;
    padding: 10px 8px;
    color: var(--tw-color-fg-modal);
}
.lineHideBlock {
    position: relative;
    cursor: pointer;
    line-height: 1;
}
.lineHideBlock:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--tw-color-theme);
    content: "";
    transition: width 0.3s ease-out;
}
.lineHideBlock:hover:after,
.lineHideBlock:focus:after {
    width: 100%;
}



